.mainnav {
    filter: drop-shadow(1px 1px 3px gray);
}

.nav-item {
    font-family: roboto;
    font-size: 20px;
    color: #2E3192;
}

#login {
    font-size: 17px;
    text-decoration: underline;
}

#signup {
    font-size: 17px;
    text-decoration: underline;
}

#agent {
    font-size: 17px;
    text-decoration: underline;
}

.container-fluid {
    font-family: roboto;
    min-width: 100%;
    margin-top: 80px;
    padding: 0%;
}

.row {
    min-width: 100%;
}

.bod1 {
    margin-left: -1%;
    overflow: scroll;
    height: 640px;
    background-color: white;
}

.bod3 {
    margin-right: -1%;
    margin-left: -1%;
}

.fil {
    font-size: 22px;
    padding-top: 20%;
    margin-bottom: 10%;
}

.reset {
    font-size: 14px;
    text-decoration: underline;
    float: right;
}

.form-check {
    padding-left: 22%;
    margin-top: 0%;
}

.form-check-label {
    font-size: 14px;
    margin-top: 2%;
}

.form-check-input {
    left: 20%;
}

.sec1 {
    font-size: 18px;
    margin-left: -20%;
}

#check1,
#check2,
#check3,
#check4,
#check5,
#check6,
#check7,
#check8 {
    margin-left: -8%;
}

#icon2 {
    font-size: 20px;
    color: dimgray;
}

input[type=text],
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    border: none;
    background: aliceblue;
}

input[type=text]:focus,
input[type=text]:focus {
    background-color: aliceblue;
    outline: none;
}

#classes {
    background-color: aliceblue;
    border: none;
}

select[name=classes]:focus,
select[name=classes]:focus {
    background-color: aliceblue;
    outline: none;
}

#passenger {
    background-color: aliceblue;
    border: none;
}

select[name=passenger]:focus,
select[name=passenger]:focus {
    background-color: aliceblue;
    outline: none;
}

#quota {
    background-color: aliceblue;
    border: none;
}

select[name=quota]:focus,
select[name=quota]:focus {
    background-color: aliceblue;
    outline: none;
}

.b2 {
    background-color: #2E3192;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}

.b2:hover {
    background-color: aliceblue;
    color: black;
}

.container-right {
    max-width: 100%;
    padding: 0%;
    border: 2px solid black;
    height: 640px;
    overflow: scroll;
}

.alltext {
    font-family: roboto;
    background-color: white;
    padding: 3%;
}

.topleft1 {
    font-size: 22px;
    font-weight: bold;
}

.topleft2 {
    font-size: 18px;
}

.mid1 {
    font-size: 20px;
    margin-top: 2%;
}

a,
a:hover {
    color: #2E3192;
    text-decoration: none;
}

.mid2 {
    font-family: roboto light;
    font-size: 16px;
    margin-left: 4%;
    margin-top: -2%;
}

.bottomleft {
    font-size: 22px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0%;
}

.btn4 {
    font-size: 18px;
    margin: 0;
    padding: 12px 40px 12px 40px;
    border-radius: 8px;
    background-color: #2E3192;
}

.btn4:hover {
    font-size: 18px;
    margin: 0;
    padding: 12px 40px 12px 40px;
    border-radius: 8px;
    background-color: aliceblue;
    color: black;
}

.bod1,
.bod2 {
    display: inline;
}

.bod1 {
    height: 640px;
    overflow: scroll;
}

.footbg {
    background: #2E3192;
    margin-top: 40px;
}

#foottext {
    font-family: roboto;
}

#copyright {
    font-family: roboto;
}

.b8 {
    display: none;
}



@media only screen and (max-width: 600px) {

    .row {
        grid-row-gap: 20px;
    }

    .container-right {
        overflow: hidden;
        height: auto;
        width: 100%;
    }

    .alltext {
        height: 200px;
    }

    .fil {
        font-size: 30px;
        font-weight: bolder;
        padding-top: 10%;
        text-align: center;
    }

    .reset {
        font-size: 20px;
    }

    .sec1 {
        font-size: 20px;
        font-weight: bold;
    }

    .form-check-label {
        font-size: 18px;
    }

    .topleft1 {
        font-size: 18px;
    }

    .topleft2 {
        font-size: 14px;
    }

    .mid1 {
        font-size: 16px;
    }

    .mid2 {
        font-size: 14px;
        margin-top: -4%;
        margin-left: 4%;
    }

    .bottomleft {
        font-size: 16px;
        margin-top: -2%;
    }

    .btn4 {
        font-size: 16px;
        padding: 12px 0px 12px 0px;
        border-radius: 6px;
        width: 100%;
        margin-top: 3%
    }

    .bod1,
    .bod2 {
        display: none;
    }

    .bod1 {
        height: auto;
        overflow: hidden;
        margin-bottom: 5%;
    }

    .opt {
        box-sizing: border-box;
    }

    .b8 {
        display: inline;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        margin: 0px 15px 0px 15px;
        ;
        background-color: #2E3192;
        color: white;
        width: 100%;
    }

}
