.mainnav {
    filter: drop-shadow(1px 1px 3px gray);
}

.nav-item {
    font-family: roboto;
    font-size: 20px;
    color: #2E3192;
}

#login {
    font-size: 17px;
    text-decoration: underline;
}

#signup {
    font-size: 17px;
    text-decoration: underline;
}

#agent {
    font-size: 17px;
    text-decoration: underline;
}

.box1 {
    width: 90%;
    margin-top: 10%;
    padding: 1%;
    border-radius: 6px;
    background-color: aliceblue;
}

.top1 {
    font-family: roboto regular;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.top2 {
    font-family: roboto regular;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.mid1 {
    font-family: roboto;
    font-size: 22px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.mid2 {
    font-family: roboto;
    font-size: 22px;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.bot1 {
    font-family: roboto;
    font-size: 19px;
    margin: 0;
    padding: 0;
}

.bot2 {
    font-family: roboto;
    font-size: 19px;
    margin: 0;
    padding: 0;
}

.box2 {
    width: 90%;
    margin-top: 3%;
    padding: 1%;
    border-radius: 6px;
}

#name {
    width: 30%;
    font-family: roboto;
    margin-right: 5%;
    border-radius: 3px;
    background-color: aliceblue;
}

#age {
    width: 10%;
    font-family: roboto;
    margin-right: 5%;
    border-radius: 3px;
    background-color: aliceblue;
}

#gender {
    width: 20%;
    font-family: roboto;
    margin-right: 5%;
    border-radius: 3px;
    background-color: aliceblue;
}

#preference {
    width: 20%;
    font-family: roboto;
    margin-right: 5%;
    border-radius: 3px;
    background-color: aliceblue;
}

.contain {
    max-width: 50%;
    margin-top: 5%;
    text-align: center;
    filter: drop-shadow(0px 0px 3px lightgray);
}

.b3 {
    background-color: #2E3192;
    color: white;
    font-weight: bold;
    margin: 5px 20px 5px 20px;
    padding: 10px 0px 10px 0px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 1;
}

.b3:hover {
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}

input[type=text],
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    border: none;
    background: aliceblue;
}

input[type=text]:focus,
input[type=text]:focus {
    background-color: aliceblue;
    outline: none;
}

#classes {
    background-color: aliceblue;
    border: none;
}

select[name=classes]:focus,
select[name=classes]:focus {
    background-color: aliceblue;
    outline: none;
}

#passenger {
    background-color: aliceblue;
    border: none;
}

select[name=passenger]:focus,
select[name=passenger]:focus {
    background-color: aliceblue;
    outline: none;
}

#quota {
    background-color: aliceblue;
    border: none;
}

select[name=quota]:focus,
select[name=quota]:focus {
    background-color: aliceblue;
    outline: none;
}

.btn-danger {
    background-color: #2E3192;
    border: none;
}

a,
a:hover {
    color: #2E3192;
    text-decoration: none;
}

.footbg {
    background: #2E3192;
    margin-top: 80px;
}

#foottext {
    font-family: roboto;
}

#copyright {
    font-family: roboto;
}


@media only screen and (max-width: 1000px) {

    .box1 {
        margin-top: 25%;
    }

    .top1 {
        font-size: 16px;
    }

    .mid1 {
        font-size: 20px;
    }

    .bot1 {
        font-size: 17px;
    }

    .top2 {
        font-size: 16px;
        text-align: left;
        margin-left: -20%;
        margin-top: 20%;
    }

    .mid2 {
        font-size: 20px;
        text-align: left;
        margin-left: -20%;
    }

    .bot2 {
        font-size: 16px;
        text-align: left;
        margin-left: -20%;
    }

    #avail {
        margin-top: 40%;
    }

    h4 {
        font-size: 22px;
        padding-top: 5%;
    }

    #name,
    #age,
    #gender,
    #preference {
        width: 100%;
        margin: 2%;
        padding: 3%;
    }

    .contain {
        width: 100%;
        padding: 0;
    }

    .b3 {
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
}
